#filters {
  float: right;
  margin: 1.5em;
}

#filters h4, #filters p {
  display: inline;
  margin: 0 .5em;
}


#logo {
  float: left;
}

#hd {
  height: 4em;
}


#sidebar {
  /* these are what keeps the sidebar at constant height to match the map, rather than lengthening the page */
  overflow: auto; 
  height: 500px;
}

#sidebar .location {
  cursor: pointer;
  padding: .1em;
  margin-bottom: .3em;
}

.location p {
  margin: .2em 0;
}

#ft {
  text-align: center;
  font-size: 90%;
  margin-top: 2em;
}

#spinner {
  color: gray;
  background: #FFFE9B;
  background-image: url('/img/spinner.gif');
  background-repeat: no-repeat;
  background-position: .5em .5em;
  padding: .5em 1em;
  padding-left: 2em;
}
