#spinner {
   position: absolute;
   top: 0;
   right: 0;
   color: gray;
   background: #FFFE9B;
   padding: .5em 1em;
}

#sidebar {
  overflow: auto; 
  height: 500px;
}

#ft {
  text-align: center;
  font-size: 90%;
  margin-top: 2em;
}