#spinner {
  color: gray;
  background: #FFFE9B;
  padding: .5em 1em;
}

#sidebar {
  overflow: auto; 
  height: 500px;
}

#sidebar .location {
  cursor: pointer;
  padding: .1em;
  margin-bottom: .3em;
}

#ft {
  text-align: center;
  font-size: 90%;
  margin-top: 2em;
}